.sub {
    margin-bottom: 4em;
    margin-top: 6em; 
    display: grid;
    row-gap: 15px;
    margin-left: 2%;

    svg {
        width: auto;
        max-width: 17.8%;
    }

    .training {
        width: auto;
        max-width: 16.5%;
    }

    h4 {
        color: #FFF;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.desc {
    .logo {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;
        margin-bottom: 52px;
    
        h4 {
            color: #FDDAB0;
            text-align: justify;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    h5 {
        color: #FDDAB0;
        text-align: justify;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 3em;
    }
    
    .title {
        padding: 23px;
        width: fit-content;
        height: 60px;
        border-radius: 30px;
        background: #6A4F5F;
        color: #FFF;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;

        h2 {
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        svg {
            width: 30px;
            height: 30px;
        }
    }

    .project {
        display: flex;
        gap: 20px; 
        img {
            height: fit-content;
        }
    }

    .titleDesc {
        background: #FFF;
        padding: 20px;
        color: #1D011E;
        text-align: justify;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        margin: 12px 25px 50px;
    }
}

.techLists {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    background: #FFF;
    padding: 20px;
    margin: 12px 25px 50px;

    p {
        padding: 5px 15px;
        width: fit-content;
        height: auto;
        border-radius: 50px;
        background: #1D011E;
        position: relative;
        color: #FDDAB0;
    }
}

.portofolio {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .academic {
        margin-bottom: 4em;
        display: flex;
        column-gap: 5em;

        .logo {
            margin-bottom: 2em;
            width: 232px;
            height: auto;
        }        
        .research {            
            text-wrap: balance;
            p {
                margin: revert;
                max-width: 500px;
                text-align: justify;
            }
        }
        .champion {
            margin: revert;
        }
    }
}

.training {
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 2em;
    margin-bottom: 4em;
    display: flex;
    column-gap: 5em;
    justify-content: center;

    .logoYear {
        display: flex;
        align-items: self-end;
        position: relative;

        img {
            width: fit-content;
            height: auto;
            background-color: white;
            padding: 15px;
            border-radius: 35px;
        }

        .year {
            height: 60px;
            background-color: green;
            padding: 10px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            position: absolute;
            right: -10px;
            bottom: -15px;
        }
    }

    .description {
        text-align: justify;
        max-width: 35em;
        margin-bottom: 20px;
    }
    
    button {
        width: fit-content;
        padding: 0px 35px;
        border-radius: 50px;
        background: #4B7A9B;
        height: 40px;
        color: #FFF;
        font-weight: 500;
    }
}