.miniBox {
    .box {
        width: 253.8px;
        height: 238px;
        border-radius: 50px;
        background-color: rgb(185 28 28 / var(--tw-bg-opacity));
        opacity: 1;
        border-radius: 50px;
        background: url('../assets/miniBox.png'), lightgray 50% / cover no-repeat;
        margin-top: 39px;
    
        p {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #D18EDC;
            text-align: center;
            font-family: Inter;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    
}