.sub {
    margin-bottom: 4em;
    margin-top: 6em; 
    display: grid;
    row-gap: 15px;
    margin-left: 2%;

    h4 {
        color: #FFF;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    svg {
        width: 22.3%;
    }
}
.desc {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    -moz-column-gap: 5em;
    column-gap: 5em;
    margin-bottom: 2em;

    div {
        max-width: 80%;
    }

    .logo {
        display: grid;
        row-gap: 10px;
        justify-content: center;
        justify-items: center;
        margin-bottom: 52px;
    
        .descYear{
            color: #FDDAB0;
            text-align: justify;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .descLogo {
        color: #FDDAB0;
        text-align: justify;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 3em;
    }
    
    .title {
        padding: 23px;
        width: fit-content;
        height: 60px;
        border-radius: 30px;
        background: #6A4F5F;
        color: #FFF;
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;

        svg {
            width: 30px;
            height: 30px;
        }
    }

    .project {
        display: flex;
        gap: 20px; 
        img {
            height: fit-content;
        }
    }

    .titleDesc {
        color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    justify-content: center;
    justify-items: center;
    }
}

.techLists {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 12px 25px 50px;

    .listItem {
        border: #1D011E 3px solid;
        border-radius: 20px;
        padding: 5px 15px;
        background-color: #FDDAB0;
    }
}