.feedback {
    margin: 10% auto;
    display: flex;
    justify-content: center;
    column-gap: 8%;

    .text {
        font-size: 70px;
        color: white;
        font-weight: 300;

        .postRight {
            float: right;
        }
    }

    .form {
        width: 30%;
    }

    .forButton {
        display: flex;
        justify-content: center;

        button {
            margin-top: 10px;
            padding: 12px 35px;
            border-radius: 30px;
        }
    }
    
}

$breakpoint-ipad: 820px;
@media (min-width: $breakpoint-ipad) {}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .feedback {
        margin: 13% auto;
        justify-content: start;

        .text {
            font-size: 50px;
        }
    }
}