.bgPurple {

    .footer {
        display: flex;

        svg {
            position: relative;
            width: fit-content;
        }

        .iconText {

            position: absolute;
            left: 30%;
            margin-top: 15.5%;
            display: flex;
            flex-flow: column;

            .menuFooter {
                display: flex;
                justify-content: center;
                gap: 29px;

                a {
                    height: auto;
                    width: fit-content;
                    background-color: white;
                    padding: 13px;
                    border-radius: 40px;
                }
            }

            p {
                color: #EDE6E6;
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-align: center;
                margin: 21px auto;
            }
        }
    }

    .waveBg {
        width: -webkit-fill-available;
        height: 1%;
    }
}

$breakpoint-ipad: 820px;
@media (min-width: $breakpoint-ipad) {}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .bgPurple {

        .footer { 
            
            svg {
                position: relative;
                width: fit-content;
            }
            
            .iconText {
                left: 32px;

                .menuFooter {

                    svg {
                        width: 20px;
                        height: auto;
                    }
                
                }

            }
        }
    }
}