.bgPurple {
    background: #1D011E;

    .footer {
        background-image: url('../assets/footers.png');
        width: auto;
        height: 330px;  
    
        .menuFooter {
            display: flex;
            justify-content: center;
            gap: 29px;
            position: relative;
            bottom: -75%;
    
            a {
                width: 35px;
                height: 35px;
            }
        }
        p {
            color: #EDE6E6;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            position: relative;
            bottom: -80%;
            text-align: center;
        }
    }
}

$breakpoint-ipad: 820px;
@media (min-width: $breakpoint-ipad){

}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet){

}