.home {
    background: #1D011E;    

    .titleBaloon {
        display: flex;

        .fontBgTop  {
            position: relative;
            margin: 15% 2%;

            .creative {
                color: #FFF;
                text-align: justify;
                font-family: Inter;
                font-size: 60px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
    
            h2 {
                color: #FFF;
                font-family: Libre Bodoni;
                font-size: 128px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        
            h4 {
                color: #FFF;
                font-family: Inter;
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        } 
        .baloon {
            z-index: 1;
            position: absolute;
    
            .yellowBaloon {
                width: 446px;
                height: 546px;
                position: relative;
                top: 250px;
                left: 170%;
                box-shadow: 0 #787676;
            }
            .blueBaloon {
                position: relative;
                top: -570px;
                left: 200%;
                width: 312px;
                height: 405px;
                flex-shrink: 0;
                box-shadow: 0 #212020;
            }
            @media screen and (max-width: 1024px) {
                .yellowBaloon {
                    width: 446px;
                    height: 546px;
                    position: relative;
                    top: 250px;
                    left: 100%;
                    box-shadow: 0 #787676;
                }
                .blueBaloon {
                    position: relative;
                    top: -570px;
                    left: 135%;
                    width: 312px;
                    height: 405px;
                    flex-shrink: 0;
                    box-shadow: 0 #212020;
                }
            }
        }
    }
    
    .dewi {
        margin-top: 50px;
        margin-bottom: 150px;
        padding: 1px 10%;

        h3 {
            color: #EDE6E6;
            font-family: Libre Bodoni;
            font-size: 96px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            opacity: 0.6;
            margin-top: -22px;
            height: 55%;
        }

        p {
            color: #FFF;
            text-align: justify;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            line-height: normal;
        }
    }

    .bgYellow {
        background: #FDDAB0;
        height: fit-content;       
        
        .allAbout {
            display: flex;
            flex-flow: wrap;

            .allAboutImg {
                width: 25%;
                padding: 10px 10px;

                img {
                    height: 200px;
                }
            }
        }

        h4 {
            text-align: center;
            font-size: 70px;
            font-weight: bold;
            margin: 5% auto;
            padding-top: 5%;
        }
        .href {
            display: flex;
            // height: 100%;
            justify-content: center;
            align-items: center;
        }
        .titleTech {
            position: absolute;
            width: fit-content;
            flex-direction: column;
            justify-content: center;
            flex-shrink: 0;
            color: #1D011E;
            font-family: Yellowtail;
            font-size: 45px;
            font-weight: bold;
        }

        p {
            text-align: center;
            font-size: 45px;
            font-weight: bold;
        }
        .image {
            background-image: url('../assets/profile.png');
            width: 50%;
        }

        .design {
            margin-left: 35px;
            padding-bottom: 100%;
           
            text-align: center;
            height: auto;
            width: auto;

            p {
                color: #D18EDC;
                font-weight: bolder;
                font-size: 25px;
            }
        }
        .other {
            background-image: url('../assets/profile.png');
            text-align: center;
            padding: 20%;
            height: auto;
            width: auto;
            p {
                color: #D18EDC;
                font-weight: bolder;
                font-size: 25px;
            }

        }

        .skill {
            margin: 10% auto;
            background-image: url('../assets/profile.png');
            height: 245%;
            width: 47%;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            p {
                color: #D18EDC;
                font-weight: bolder;
                font-size: 36px;
            }
        }
    }

    .background_1 {
        position: absolute;
        top: 0;
        width: -webkit-fill-available;
    }

    .techStack {
        color: #FDDAB0;
        font-family: "Libre Bodoni";
        font-size: 72px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-align: center;
        margin: 5% auto;
        padding-top: 5%;
    }

    .secAct {
        background-color: #6A4F5F;

        .activities {
            color: #1D011E;
            font-family: "Libre Bodoni";
            font-size: 72px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            text-align: center;
            margin: 5% auto;
            padding-top: 5%;

        }
    }

    .ratings {
        row-gap: 25px;
        width: -webkit-fill-available;
        column-gap: 25px;
        display: flex;
        flex-wrap: wrap;
    }

    .lastSec {
        display: grid;
        justify-content: center;
        justify-items: center;

        .portofolio {
            color: #FDDAB0;
            font-family: "Libre Bodoni";
            font-size: 72px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            text-align: center;
        }
        .descPorto {
            color: #FFF;
            text-align: center;
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            margin-top: 4rem;
            margin-bottom: 7rem;
        }
        .detailMore {
            padding: 20px 60px;
            width: fit-content;
            height: 50px;
            flex-shrink: 0;
            border-radius: 38px;
            background: #4B7A9B;
            color: #FFF;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
    }

    
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet){
    .home {
        .titleBaloon {    
            .fontBgTop  {    
                margin: 11% 2%;

                .creative {
                    font-size: 40px;
                }

                h2 {
                    font-size: 90px;
                }

                h4 {
                    font-size: 45px;
                    font-weight: 400;
                }
            }

            .baloon {
                .blueBaloon {
                    position: absolute;
                    top: 10px;
                    width: 145px;
                    height: 200px;
                    left: 180%;
                }
                .yellowBaloon {
                    width: 245px;
                    height: 320px;
                    position: relative;
                    top: 140px;
                    left: 205%;
                }
            }
        }

        .groupHome {
            .dewi {
                padding: 1px 5%;
                gap: 2rem;

                h3 {
                    font-size: 60px;
                    margin-top: -15px;
                    height: 60%;
                }
    
                p {
                    font-size: 14px;
                }
            }

            .bgYellow {
                h4 {
                    font-size: 60px;
                }
            }

            
        }
    }
}
